    body {
        background-image: url("https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218452.jpg?w=900&t=st=1680315229~exp=1680315829~hmac=76f78d2810c234f4077335d3e63258e372ac4883c6ecafa9d996d078e5c06ef3");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        width: 60vw;
        height: 60vh;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-right: 35%;
        margin-top: 10%;
        opacity: 0.7;
    }
    
    .form {
        display: flex;
        padding: 20px;
    }
    
    input {
        display: flex;
        padding: 1rem;
        width: 100%;
        gap: 5px;
    }
    
    .imagem {
        height: 40%;
        width: 40%;
        border-radius: 30%;
    }
    
    h1 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
    }